# System files
**.DS_Store

# TheFuck
thefuck/__pycache__

# Tmux
tmux/plugins/

# Nix
nix/result

# Ignore Neovim spell files
*.spl
*.sug

# Ignore Neovim/Vim swap and undo files
[._]*.sw[a-p]
[._]*.s[a-v][a-z]
.*~
*.un~

# zsh
/zsh
!/zsh/zshrc
