# System files
**/\.DS_Store

# TheFuck
thefuck/__pycache__

# Neovim lazy-lock (runtime managed)
nvim/*/lazy-lock.json

# Nix
nix/result

# Neovim spell files
*.spl
*.sug

# Neovim swap/undo
[._]*.sw[a-p]
[._]*.s[a-v][a-z]
.*~
*.un~
