# MacOS defaults
keybind = super+k=clear_screen
keybind = super+q=quit

# Clipboard
keybind = super+c=copy_to_clipboard
keybind = super+v=paste_from_clipboard
keybind = super+shift+c=copy_to_clipboard
keybind = super+shift+v=paste_from_clipboard

# Window management
keybind = super+n=new_window
keybind = super+w=close_window
